node_modules/
*.log

# Debug and exploration scripts (not needed for production)
all_responses.txt
attendance_records.json
leave_records.json
stats_responses.txt
stats_responses_redirect.txt
api_log.txt
mystats_attempt1.txt
mystats_direct.txt
mystats_text.txt
campusstats_text.txt
dashboard_text.txt
leave_text.txt
profile_text.txt
expanded_text.txt
attendance_page_text.txt
exams_my_text.txt
page_text.txt

# PNG screenshots
*.png

# JS exploration/debug scripts
analyze_collections.js
capture_js_requests.js
case_insensitive_search.js
check_assets.js
check_exams_page.js
check_other_indices.js
check_stats_pages.js
count_statuses.js
crawl_pages.js
debug_index.js
direct_fetch_check.js
download_all_manifest_assets.js
download_and_search_js.js
download_initial_assets.js
download_new_assets.js
expand_menu.js
explore_attendance_events.js
explore_attendance_records.js
explore_prev_student.js
extract_collections_from_responses.js
extract_manifest.js
find_all_api_queries.js
find_all_student_attendance_in_transcript.js
find_links.js
full_search_index.js
get_all_absences.js
get_exams_html.js
get_my_stats_data.js
get_my_stats_redirect.js
get_student_id.js
get_detailed_stats.js
grep_transcript.js
list_all_accessible_collections.js
list_all_intercepted_urls.js
list_urls.js
log_all_responses.js
parse_all_responses.js
parse_api_log.js
parse_turbostream.js
print_all_absences.js
print_api_headers.js
print_auth_refresh_response.js
print_notifications.js
print_router_manifest.js
print_router_manifest_full.js
print_sidebar_definition.js
print_step_490.js
print_step_493.js
print_step_72.js
print_step_75.js
print_student_details.js
print_task_72.js
probe_event_fields.js
print_attendance_record_keys.js
print_leave_details.js
print_style_lines.js
print_browser_error_details.js
query_without_filters.js
read_home_component.js
read_home_loader.js
read_transcript.js
read_vs_function.js
read_vs_function_end.js
read_vs_function_more.js
read_ys_function.js
robust_crawler.js
search_ae.js
search_ae_definition.js
search_all_assets.js
search_all_leave.js
search_api_all_js.js
search_chunk_exports.js
search_collections.js
search_collections_all_js.js
search_collections_in_api_log.js
search_collections_in_bundles.js
search_collections_str.js
search_dashboard_data.js
search_exams_data.js
search_html_api.js
search_html_manifest.js
search_ids.js
search_js_assets.js
search_js_content.js
search_js_routes.js
search_leave_details.js
search_loader.js
search_loaders_in_index.js
search_nav_elements.js
search_nav_parents.js
search_pb_collection.js
search_routes_in_all.js
search_rs_def.js
search_searchparams.js
test_all_collections.js
test_attendance_page.js
test_attendance_with_fresh_token.js
test_both_backends.js
test_date_parameter.js
test_fetch_with_cookies.js
test_login.js
test_search.js
test_student_attendance.js
test_student_attendance_filters.js
debug_browser.js
check_selectors.js
calculate_stats_from_pb.js
decode_dashboard_data.js
print_absences_api.js
print_server_api.js

# HTML dumps
attendance_page.html
exams_my.html
page_html.html

# JS assets (downloaded bundles)
js_assets/
